<!DOCTYPE html>
<html>
  <head>
    <title>Loggera</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "loggera", media: "all" %>

    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "loggera/application" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
